@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #141b41;
  --color-primary-50: #003566;
  --color-secondary: #f9a826;
  --color-black: #000000;
  --color-white: #ffffff;

  --text-dark: #222222;
  --text-light: #999999;
  --text-light-50: #ced4da;
  --text-error: #e63946;
  --text-success: #007f5f;

  --toastify-color-error: var(--text-error);
  --toastify-color-success: var(--text-success);
}

body {
  font-family: "Open Sans", sans-serif;
}

// select disabled styles
select:disabled {
  background-color: var(--text-light-50);
  opacity: 0.3;
}